<% layout('/layout/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Snack</h1>
    <div class="col-6 offset-3">
        <form action="/snacks" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class = "form-label" for="title">Title</label>
                <input class= "form-control" type="text" id = "title" name ="snack[title]" required> 
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class = "form-label" for="location">Location</label>
                <input class= "form-control" type="text" id = "location" name ="snack[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div> 
            </div>
            <div class="mb-3">
                <label class = "form-label" for="image">Image URL</label>
                <input class= "form-control" type="text" id = "location" name ="snack[image]" required> 
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Snack Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="snack[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class = "form-label" for="description">Description</label>
                <textarea class= "form-control" type="text" id = "description" name ="snack[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Snack</button>
            </div>  
        </form>
        <a href="/snacks">All Snacks</a>
    </div>
</div>



